.button {
  padding: 0.5rem 1rem;
}

.button:hover {
  cursor: pointer;
}

.inputDiv {
  display: flex;
  height: 100%;
  width: 100%;
}

.inputDiv > * {
  height: 100%;
  width: 100%;
}

@media only screen and (max-width: 400px) {
  .button {
    padding: 0rem;
  }
}
