.imgContainer {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.img {
  height: clamp(10rem, 10vw, 300px);
  object-fit: contain;
}

.title {
  height: 4rem;
}

.title h3 {
  display: inline-block;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  font-size: 1.5rem;
  font-weight: 400;
}

.title a:hover {
  color: rgb(133, 91, 184);
}

.card {
  display: grid;
  gap: 1rem;
  text-align: center;
}

.price {
  font-size: 2.5rem;
}

@media only screen and (max-width: 400px) {
  .title h3 {
    font-size: 1.2rem;
  }
  .price {
    font-size: 1.5rem;
  }
}
